@CHARSET "UTF-8";

/* HTML5 tags */
header, section, footer, aside, nav, article, figure {display: block;}

/* Common rules */
* {font-family:Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;}
p {padding:0 0 1em 0; margin:0;}
.clear {clear:both;}
p.clear {display:block;height:1px; padding:0; margin:0;}
.right-align {text-align:right;}
.center-align {text-align:center;}
.center {margin:0 auto; display:block;}
.invisible {display:none;}

/* Layout */
html {height:100%;}
body {margin:0; padding:0 16px 0 16px; font-size:0.8em; height:100%;}
#wrapper {padding:0; margin:0;}
#wrapper > #content {background-color:#fff; padding:0 1px 1px 1px;}
#contentForm {min-height:150px;height:auto;}

/* Form */
.ui-required {color: #FF0000; font-weight: bold; padding-left: 4px; vertical-align: super;}

/* Actions */
.action-link { background:url(img/icons-sprite.png) no-repeat right center; display:inline-block; padding-right:10px; }
.new-link { background-position: 0 0; width: 16px; height: 16px; }
.delete-link { background-position: 0 -66px; width: 16px; height: 16px; }
.download-link { background-position: 0 -132px; width: 16px; height: 16px; }
.edit-link { background-position: 0 -198px; width: 16px; height: 16px; }
.info-link { background-position: 0 -264px; width: 16px; height: 16px; }
.pdf-link { background-position: 0 -330px; width: 16px; height: 16px; }
.print-link { background-position: 0 -396px; width: 16px; height: 16px; }
.valid-link { background-position: 0 -462px; width: 16px; height: 16px; }
.view-link { background-position: 0 -528px; width: 16px; height: 16px; }


